*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    vertical-align: top;
}

// body {
//   font-family: 'Playfair Display', Arial, Helvetica, serif;
//   font-family: 'Raleway', Arial, Helvetica, sans-serif;
// }

body {
  &.lock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
}
