//backgrounds
$col-dark: #000000;
$col-white: #ffffff;
$col-accent: #FF7931;
$col-medium-dark: rgba(#000000, 0.7);
$col-light-dark: rgba(#000000, 0.3);
$col-light: #F9F9FC;

//text color
$text-menu: #48494d;


//fonts
// $font-family: 'Raleway', Arial, Helvetica, sans-serif;
$font-title: 'Playfair Display', Arial, Helvetica, serif;
$font-text: 'Raleway', Arial, Helvetica, sans-serif;
