.articles {
  &__title {
    @include font(17px, 20px, 700);
    font-family: $font-text;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $col-dark;
    margin-top: 50px;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
      margin-top: 100px;
    }

    &--sec {
      margin-top: 25px;
      
      @include media-breakpoint-up(lg) {
        margin-top: 35px;
      }
    }
  }

  &__col-title {
    @include font(20px, 27px, 900);
    font-family: $font-title;
    margin-bottom: 15px;

    &:nth-child(2) {
      @include font(23px, 31px, 900);
      font-family: $font-title;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    &:hover {
      color: $col-accent;
    }
  }

  &__col-text {
    @include font(14px, 21px, 400);    

    @include media-breakpoint-up(lg) {
      margin-right: 30px;
    }
  }

  &__img {
    min-width: 288px;
    
    &--main {
      @include media-breakpoint-up(lg) {
        // width: 470px;
        height: 338px;
      }
    }
  }

  &__col-wrapper {
    position: relative;
    margin-right: 20px;

    &-sec {
      position: relative;
      margin-left: -15px;
      margin-right: -15px;
      max-width: 770px;
    }
  }

  &__col {
    margin-bottom: 25px;
    // flex-shrink: 0;
    // width: 100%;

    @include media-breakpoint-up(lg) {
      padding: 0;
      margin-bottom: 35px;
    }
  }

  &__block-img {
    position: relative;

    .articles__vector {
      top: 20px;
      right: 20px;
    }

    &:hover {
      .articles__vector {
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      width: 370px;
    }
  }

  &__text-block {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 20px 15px;
  }

  &__sm-block {
    margin-bottom: 30px;
    
    &:nth-child(3) {
      margin-bottom: 0;
    }

    &:hover {
      .articles__vector {
        display: block;
      }
    }
  }

  &__sm-block-img {
    width: 127px;
    height: 91px;
    object-fit: cover;
    position: relative;
  }
  
  &__sm-title {
    @include font(14px, 19px, 900);
    margin-bottom: 10px;
    font-family: $font-title;

    &:hover {
      color: $col-accent;
    }
  }

  &__sm-content {
    @include font(10px, 15px, 400);
  }

  &__sm-text {
    margin-left: 15px;

    @include media-breakpoint-up(lg) {
      margin-left: 12px;
    }
  }

  &__vector {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  // &__col-left {
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // } 

  &__page {
    @include font(18px, 22px, 400);
    color: $text-menu;
    text-decoration: none;
    list-style: none;    
    padding: 9px 15px;

    // &:hover {
    //   color: $col-accent;
    // }
  }

  &__page:hover {
    color: $col-accent;
    border: 1px solid $col-accent;

    @include media-breakpoint-up(lg) {
      color: #000000;
      border: none;
      border-bottom: 3px solid $col-accent;
    }
  }

  // &__pages::before {
  //   content: '';
  //   border: 22px solid transparent;
  //   width: 0;
  //   height: 0;
  //   border-top: 0;
  //   border-bottom-color: rgba(0, 0, 0, 0.3);;
  //   position: absolute;
  //   top: 10px;
  //   left: 0;
  // }

  &__pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 50px;

    @include media-breakpoint-up(lg) {
      margin-top: 10px;
      justify-content: center;
      margin-bottom: 75px;
    }
  }

  &__page-desc {
    display: none;

    &-none {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &__sign-right .articles__sign-img {
    transform: rotate(180deg);
  }

  &__sign-img {
    padding: 10px;
    display: block;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  }

  &__sign-left {
    @include media-breakpoint-up(lg) {
      border-right: 1px solid $text-menu;
      margin-right: 80px;
    }
  }

  &__sign-right {
    @include media-breakpoint-up(lg) {
      border-left: 1px solid $text-menu;
      margin-left: 80px;
    }
  }

  &__col-title-btn {
    @include font(20px, 23px, 500);
    font-family: $font-text;
    color: $col-white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  &__text-block-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 43px 20px;
  }

  &__btn {
    margin: 0 auto;
    margin-top: 20px;
    @include font(12px, 14px, 600);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $col-white;
    font-family: $font-text;
  }

}