.button {
  text-align: center;
  color: $col-white;
  @include font(12px, 14px, 600);
  font-family: $font-text;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;  
  background-color: rgba(#000000, 0.4);
  border: 2px solid $col-accent;
  cursor: pointer;  
  padding: 11px 30px;
  max-width: 170px;

  &:hover {
    background-color: $col-accent;
  }
}