.header {
  margin: 0 auto;

  &__main-title {
    @include font(25px, 35px, 900);
    letter-spacing: 1px;
    font-family: $font-title;
    text-align: center;
    margin: 0 auto;
    padding: 24px 40px 14px;
    max-width: 1170px;
    @include media-breakpoint-up(lg) {
      @include font(35px, 47px, 900);
      padding: 60px 20px 46px;
      font-family: $font-title;
    }
  }

  &._active {
    display: none;
  }
}