.nav {
  // margin-left: -15px;
  // margin-right: -15px;
  max-width: 1170px;
  margin: 0 auto;
  
  &._active {
    background-color: $col-white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    overflow: auto;
    margin: 0;
  }
 
  @include media-breakpoint-up(lg) {
    margin-bottom: 25px;
  }
  
  &__menu {
    margin-top: 60px;
    overflow: auto;
   
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    background-color: $col-light;
    padding: 17px 16px;
    font-family: $font-text;
    @include font(16px, 19px, 400);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $text-menu;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(lg) {
      @include font(15px, 18px, 400);
      letter-spacing: 2px;
      background-color: $col-white;
      padding: 5px;
    }
  }

  &__list {
    background-color: $col-white;
  }

  &__item {
    margin-bottom: 20px;
    // padding: 0 15px;
    
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &__shape {
    display: block;
    height: 12px;
    width: 8px;
  }

  &__shape-block {
    padding: 6px 8px;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}