.slide {
  margin-left: -16px;
  margin-right: -16px;

  // @include media-breakpoint-up(lg) {
  //   width: 100vw;
  //   margin: 0 auto;
  // }

  &__img {
    height: 372px;

    @include media-breakpoint-up(lg) {
      height: 464px;
    }
  }

  &__title {
    @include font(30px, 45px, 300);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $col-white;
    font-family: $font-text;
    text-align: center;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      @include font(72px, 85px, 300);     
      margin-bottom: 140px; 
    }
  }

  &__text {
    @include font(14px, 21px, 400);
    color: $col-white;
    font-family: $font-text;
    text-align: center;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      max-width: 500px;
    }
  }

  &__caption {
    margin-left: -8%;
    margin-right: -8%;

    @include media-breakpoint-up(lg) {
      margin-left: 0;
      margin-right: 0;
      // padding-left: 200px;
      // padding-right: 200px;
      max-width: 800px;
    }
  }

  &__new {
    background-color: $col-accent;
    color: $col-white;
    text-transform: uppercase;
    @include font(16px, 19px, 400);
    font-family: $font-text;
    letter-spacing: 2px;
    padding: 5px 15px;
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 45px;
    }
  }

  &__indicators {
    [data-bs-target] {
      border-radius: 50%;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__vector {
    height: 42px;
    width: 2px;
    background-color: $col-white;
    position: absolute;
    top: 45%;
    // bottom: 0;
    z-index: 1;  
    // display: flex; 
    // align-items: center; 
    // justify-content: center; 
    left: 50%;
  }

  &__control-prev {
    left: 45%;
  }

  &__control-next {
    right: 45%;
  }

  &__scroll-prev {
    left: 5%;
    width: 15%;
  }

  &__scroll-next {
    right: 5%;
    width: 15%;
  }

  &__scroll-left {
    display: block;
    height: 2px;
    width: 64px;
    background-color: $col-white;
    z-index: 1;  
  }

  &__scroll-right {
    display: block;
    height: 2px;
    width: 64px;
    background-color: $col-white;
    z-index: 1;  
  }

  &__scroll-title {
    @include font(13px, 15px, 400);
    font-family: $font-text;
    color: $col-white;
  }

  &__scroll-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}